<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<body>
    <h1>Welcome!</h1>
    <p>Please, select a player:</p>
    <ul>
        <li><a th:href="@{/api/v1/players/A}">Player A</a></li>
        <li><a th:href="@{/api/v1/players/B}">Player B</a></li>
        <li><a th:href="@{/api/v1/players/generate}">GENERATE 100</a></li>
    </ul>

    <p th:text="'Player A wins ' + ${history.winsA} + ' of ' + ${history.total} + ' games'"></p>
    <p th:text="'Player B wins ' + ${history.winsB} + ' of ' + ${history.total} + ' games'"></p>
    <p th:text="'Tie: ' + ${history.ties} + ' of ' + ${history.total} + ' games'"></p>

    <form th:action="@{/api/v1/games/}" th:method="delete">
        <button>CLEAR</button>
    </form>
    <br>
    <form th:action="@{/api/v1/games/}" th:method="get">
        <button>HISTORY</button>
    </form>
</body>
</html>
